<div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4 mb-2">
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row mt-4 mb-2">
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card fw-semibold p-4">
        <mat-card-title>Iphone 14 Campaign</mat-card-title>
        <pre></pre>
        <mat-card-subtitle>Mumbai, Pune, Bangalore</mat-card-subtitle>
        <mat-card-subtitle>28 Novermber 2022</mat-card-subtitle>
        <mat-card-content>
          <p>Daily Budget : 720.76 $</p>
          <p>OverAll Budget : 2400.33 $</p>
          <p>Budget Pacing : Enabled</p>
          <p>Domains :</p>
          <ul style="list-style-type: disc">
            <li>forbes.com</li>
            <li>samsung.org</li>
            <li>geeksforgeeks.com</li>
          </ul>
          <p>Devices : Mobile, Laptop</p>
          <p>Scheduling Time : Monday, Friday</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="d-block mx-auto py-1 px-3 fw-lighter"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Ad Groups
          </button>
          <!-- <button mat-button color="primary">Launch Adgroups</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
