<div class="container">
  <form
    (ngSubmit)="handleCreateCampaignSubmit()"
    action=""
    method="POST"
    class="m-auto"
  >
    <!-- Form heading -->
    <h5 class="fs-2 mb-4">New Campaign</h5>

    <!-- Campaign Name Field -->
    <mat-form-field appearance="outline">
      <mat-label>Campaign Name</mat-label>
      <input
        [(ngModel)]="campaignModel.name"
        name="campaignName"
        placeholder="Iphone14"
        matInput
        type="text"
        required
        minlength="4"
        required
      />
    </mat-form-field>
    <p class="text-danger" *ngIf="validationObject.campaignName.isInvalid">
      {{ validationObject.campaignName.message }}
    </p>
    <!-- Campaign Start Date -->
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select Start Date</mat-label>
      <input
        required
        [(ngModel)]="campaignModel.startDate"
        matInput
        [matDatepicker]="pickerStartDate"
        name="campaignStartDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerStartDate"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickerStartDate></mat-datepicker>
    </mat-form-field>
    <p class="text-danger" *ngIf="validationObject.campaignStartDate.isInvalid">
      {{ validationObject.campaignStartDate.message }}
    </p>
    <!-- Campaign End Date -->
    <mat-form-field class="example-full-width-1" appearance="outline">
      <mat-label>Select End Date</mat-label>
      <input
        required
        matInput
        [matDatepicker]="pickerEndDate"
        [(ngModel)]="campaignModel.endDate"
        name="campaignEndDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerEndDate"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #pickerEndDate></mat-datepicker>
    </mat-form-field>
    <p class="text-danger" *ngIf="validationObject.campaignEndDate.isInvalid">
      {{ validationObject.campaignEndDate.message }}
    </p>
    <!-- Daily budget -->
    <mat-form-field appearance="outline">
      <mat-label>Daily Budget ($)</mat-label>
      <input
        [(ngModel)]="campaignModel.dailyBudget"
        matInput
        type="number"
        step="0.01"
        name="campaignDailyBudget"
        required
      />
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignDailyBudget.isInvalid"
    >
      {{ validationObject.campaignDailyBudget.message }}
    </p>
    <!-- OverAll budget -->
    <mat-form-field appearance="outline">
      <mat-label>Overall Budget ($)</mat-label>
      <input
        required
        matInput
        type="number"
        step="0.01"
        name="campaignOverallBudget"
        [(ngModel)]="campaignModel.overallBudget"
      />
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignOverallBudget.isInvalid"
    >
      {{ validationObject.campaignOverallBudget.message }}
    </p>
    <!-- Budget Pacing -->
    <mat-form-field appearance="outline">
      <mat-label>Budget Pacing</mat-label>
      <mat-select
        required
        name="campaignBudgetPacing"
        [(ngModel)]="campaignModel.budgetPacing"
      >
        <mat-option *ngFor="let budget of budgetsList" [value]="budget.value">
          {{ budget.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignBudgetPacing.isInvalid"
    >
      {{ validationObject.campaignBudgetPacing.message }}
    </p>

    <!-- class="{{ i < 10 ? '' : 'd-none' }}" -->
    <!-- Domain Material Chips   -->

    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Campaign Domains</mat-label>
      <mat-chip-list
        class="limit-chip-list-height"
        #chipListDomain
        aria-label="Domain selection"
      >
        <mat-chip
          *ngFor="let domain of campaignModel.domains; let i = index"
          (removed)="remove(domain)"
          selected
        >
          {{ domain }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <input
          name="campaignDomains"
          placeholder="Included Domains..."
          [matChipInputFor]="chipListDomain"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <p class="text-danger" *ngIf="validationObject.campaignDomains.isInvalid">
      {{ validationObject.campaignDomains.message }}
    </p>

    <p
      class="text-success"
      *ngIf="validationObject.campaignIncludeDomainFile.isInvalid"
    >
      {{ validationObject.campaignIncludeDomainFile.message }}
    </p>
    <!-- File Upload Included Domain-->

    <input
      #csvInputIncludedDomains
      hidden="true"
      type="file"
      onclick="this.value=null"
      (change)="csvInputChange($event, 'INCLUDEDDOMAINS')"
      accept=".csv"
    />
    <button
      mat-flat-button
      color="primary"
      class="px-3 py-2 fs-6"
      (click)="csvInputIncludedDomains.click()"
      type="button"
    >
      Upload Included Domains (CSV)
    </button>

    <!-- class="{{ i < 10 ? '' : 'd-none' }}" -->

    <!--Excluded Domain Material Chips   -->
    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Excluded Domains</mat-label>
      <mat-chip-list
        class="limit-chip-list-height"
        #chipListExcludedDomain
        aria-label="Excluded Domain"
      >
        <mat-chip
          color="accent"
          *ngFor="
            let excludeddomain of campaignModel.excludedDomains;
            let i = index
          "
          selected
          (removed)="removeExcludedDomain(excludeddomain)"
        >
          {{ excludeddomain }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <input
          name="campaignExcludedDomains"
          placeholder="Excluded Domains..."
          [matChipInputFor]="chipListExcludedDomain"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addExcludedDomain($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignExcludedDomains.isInvalid"
    >
      {{ validationObject.campaignExcludedDomains.message }}
    </p>
    <p
      class="text-success"
      *ngIf="validationObject.campaignExcludeDomainFile.isInvalid"
    >
      {{ validationObject.campaignExcludeDomainFile.message }}
    </p>
    <!-- File Upload Excluded -->

    <input
      #csvInputExcludedDomains
      hidden="true"
      type="file"
      onclick="this.value=null"
      (change)="csvInputChange($event, 'EXCLUDEDDOMAINS')"
      accept=".csv"
    />
    <button
      mat-flat-button
      class="px-3 py-2 fs-6 bg-danger text-light"
      (click)="csvInputExcludedDomains.click()"
      type="button"
    >
      Upload Excluded Domains (CSV)</button
    ><br />

    <!-- List Of Devices -->
    <mat-form-field appearance="outline">
      <mat-label>Devices</mat-label>
      <mat-select
        [(ngModel)]="campaignModel.devices"
        [formControl]="formObjForDevice"
        multiple
        required
        [ngModel]="devicesNames"
      >
        <mat-select-trigger name="campaignDevices">
          {{formObjForDevice.value?.[0] || ''}}
          <span
            *ngIf="(formObjForDevice.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (formObjForDevice.value?.length || 0) - 1 }}
            {{ formObjForDevice.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let device of devicesNames" [value]="device">{{
          device
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignListOfDevices.isInvalid"
    >
      {{ validationObject.campaignListOfDevices.message }}
    </p>
    <!-- Ad Scheduling Day -->
    <mat-form-field appearance="outline">
      <mat-label>Ad Scheduling Days</mat-label>
      <mat-select
        required
        [(ngModel)]="campaignModel.adSchedulingDays"
        [formControl]="weekDays"
        multiple
      >
        <mat-select-trigger>
          {{weekDays.value?.[0] || ''}}
          <span
            *ngIf="(weekDays.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (weekDays.value?.length || 0) - 1 }}
            {{ weekDays.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let day of weekDaysList" [value]="day">{{
          day
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignAdScheduling.isInvalid"
    >
      {{ validationObject.campaignAdScheduling.message }}
    </p>
    <!-- Ad Scheduling Time -->
    <mat-form-field
      *ngFor="
        let dayOfAdd of this.campaignModel.adSchedulingDays;
        let i = index
      "
      appearance="outline"
    >
      <mat-label>{{ dayOfAdd }} Ad Time</mat-label>
      <mat-select
        (selectionChange)="handleWeekDayTimeShedule($event, dayOfAdd)"
        multiple
        #timeOfDay{{i}}
      >
        <mat-option *ngFor="let time of WeekDayTimeList" [value]="time">{{
          time
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- GeoLocation Select -->
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Geo-locations</mat-label>
      <input
        [formControl]="searchControlGeolocation"
        type="text"
        placeholder="India"
        aria-label="Number"
        matInput
        [matAutocomplete]="autoIncludeGeoLocation"
        (keyup)="handleGeoLocationFilter($event)"
      />
      <mat-autocomplete
        #autoIncludeGeoLocation="matAutocomplete"
        (optionSelected)="handleGeoLocationSelect($event)"
      >
        <mat-option
          *ngFor="let location of campaignModel.geoLocations; let i = index"
          [value]="location.name"
        >
          {{ location.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p
      class="text-danger"
      *ngIf="validationObject.campaignInludedGeolocation.isInvalid"
    >
      {{ validationObject.campaignInludedGeolocation.message }}
    </p>
    <!-- Included GeoLocation   -->

    <mat-form-field
      class="example-chip-list {{
        campaignModel.geoLocations.length > 0 ? '' : 'd-none'
      }}"
      appearance="outline"
    >
      <!-- <mat-label>Included GeoLocations</mat-label> -->
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let selectedLocation of campaignModel.geoLocations"
          (removed)="handlGeolocationRemove($event)"
          value="{{ selectedLocation }}"
          selected
        >
          {{ selectedLocation }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          disabled=""
          placeholder="Selected Locations"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <!--Excluded GeoLocation Select -->

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Excluded Geo-locations</mat-label>
      <input
        type="text"
        placeholder="India"
        aria-label="Number"
        matInput
        [matAutocomplete]="autoExclude"
        (keyup)="handleGeoLocationFilter($event)"
      />
      <mat-autocomplete
        #autoExclude="matAutocomplete"
        (optionSelected)="handleExcludedGeoLocationSelect($event)"
      >
        <mat-option
          *ngFor="
            let location of campaignModel.excludedGeolocations;
            let i = index
          "
          [value]="location.name"
        >
          {{ location.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Excluded GeoLocations   -->

    <mat-form-field
      class="example-chip-list {{
        campaignModel.excludedGeolocations.length > 0 ? '' : 'd-none'
      }}"
      appearance="outline"
    >
      <!-- <mat-label>Excluded GeoLocations</mat-label> -->
      <mat-chip-list #chipListExcludeLocation aria-label="Fruit selection">
        <mat-chip
          color="accent"
          *ngFor="let excludedLocation of campaignModel.excludedGeolocations"
          (removed)="handlExcludedGeolocationRemove($event)"
          value="{{ excludedLocation }}"
          selected
        >
          {{ excludedLocation }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          disabled=""
          placeholder="Excluded Locations"
          [matChipInputFor]="chipListExcludeLocation"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <!-- Submit Button -->
    <button
      class="d-block ms-auto mr-2 py-2 px-4 fs-6 fw-lighter"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Create Campaign
    </button>
  </form>
</div>
