<div class="wrapper">
  <div class="logo">
    <h5>MAX-2.0</h5>
  </div>
  <div class="text-center mt-4 name">Resgister</div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="name" id="name" placeholder="Name" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="userName" id="userName" placeholder="Username" />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="pwd" placeholder="Password" />
    </div>
    <button class="btn mt-3">Resgister</button>
  </form>
  <div class="text-center fs-6">
    <a routerLink="/user/login">Already Have an Account ?? : Login</a>
  </div>
</div>
